body {
    background: #b7a391;
}

.navigation > li > a {
	color: black;
}

.navigation > li > a:hover {
	color: #6D6D6D;
}

#icon{
	width: 115px;
}

h2 {
	font-size: 25px;
}

#carrots {
	width: 50%;
}

h1, h2, h6{
	color: white;
}

h1 {
	padding-top: 225px;
}